@model List<WebApplication1.Models.urun>

@{
    ViewBag.Title = "Index";
}

@Html.Partial("_yapi")

<h2>Personeller</h2>
<hr />
@ViewBag.urun_sayisi 
adet ürün listelendi...
<hr />
@foreach (var urun in Model)
{
<ul>
    <li>@urun.urun_adi</li>
    <li>@urun.fiyat</li>
    <li>@urun.aciklama</li>
</ul>
 }

